.title {
    font-family:'Poppins', sans-serif ;
    font-weight: 900;


}

.cardpic {
    width: 100% ;
    height: 25;
}


.bodytext {
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    font-weight: 800;
    text-align: center;
}

.hamburgertext {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 900;
}

.footertxt {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.fixed-action-btn{
    right: auto; 
    margin-left: 5%; 
}
.searchbar {
    max-width: 1000px;
    margin: auto;
    text-align:center;
    width:67%;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Dancing Script', cursive;
    
    
}

.card {
    display: block;
}

.overlay{
    margin: auto;
    margin-top: 150px;
    text-align:center;
    width: 54%;
    max-width: 1000px;
    font-family: 'PT Sans', sans-serif;
    background-color: #ef5350a1;
    border-style: double;
    border-width: 3.5px;
    border-radius: 10px;
    border-color: white;
    font-family: 'Dancing Script', cursive;
    padding-bottom: 20px;
}

.overlay2{
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    text-align:center;
    width: 54%;
    max-width: 1000px;
    font-family: 'PT Sans', sans-serif;
    background-color: #ef53508c;
    border-style: double;
    border-width: 3.5px;
    border-radius: 10px;
    border-color: white;
    padding-bottom: 20px;
}
#ingredients-list, #instructions{
    font-family: 'PT Sans', sans-serif;
    font-size: medium;
}

.recipecard {
   border-radius: 10px;
   opacity: .9;
}

.card-title {
    border-radius: 10px;
}

.card .card-image img {
    border-radius: 7px;
}
.recipetitletxt {
    font-family: 'Dancing Script', cursive;
    background-color: white;
}

.recipetitletxt{
padding-top: 15px;
}


.card .card-content p {
    margin: 20px;
}

.card .card-content {
    padding-top: 10px;
    
}
.spaceburger {
    padding-left: 16px;
}

.row {
    margin-top: 30px;
}

.foodimg {
    border-radius: 50%;
    width: 111px;
    height: 111px;
     margin-top:11px;
    margin-right: 30px;
    align-items: center;
      }

.foodimg:hover {
    background-color: black ;
    opacity: .7;
    
  }
  
  .recipedetails {
      font-size: x-small;
  }


  .centered {
    position: absolute;
    top: 55%;
    left: 49%;
    transform: translate(-50%, -50%);
    font-family:'Poppins', sans-serif ;
    font-weight: 900;
    
  }

select {
    display: inherit;
}

.parallax-container2 {
    height:80%;
  }
     





  



              
         
  
            
  